# -FrontPage-

Options None

<Limit GET POST>
order deny,allow
deny from all
allow from all
require group authors administrators
</Limit>
<Limit PUT DELETE>
order deny,allow
deny from all
</Limit>
AuthType Basic
AuthName aikido_beersheva_net
AuthUserFile /home/baconao/public_html/aikido_beersheva_net/_vti_pvt/service.pwd
AuthGroupFile /home/baconao/public_html/aikido_beersheva_net/_vti_pvt/service.grp
